* {
    margin: 100;
    padding: 90;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url('bkgd3.jpg');
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.6); 
    padding: 20px;
    border-radius: 10px;
}

.welcome-section {
    width: 45%;
    padding: 20px;
}

.welcome-section h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.welcome-section p {
    font-size: 18px;
    margin-bottom: 30px;
}

.social-icons a {
    margin-right: 10px;
}

.signup-section {
    width: 45%;
    padding: 20px;
}

.signup-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
}

form input {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

.remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.remember-me input {
    margin-right: 10px;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.cancel-btn, .signup-btn {
    padding: 40px 40px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.cancel-btn {
    background-color: red;
    color: white;
}

.signup-btn {
    background-color: blue;
    color: white;
}
